.Login {
    text-align: center;
    max-width: 1440px;
    max-height: 1024px;
}
  
  .App-logo {
    height: 109px;
    width: 116px;
  }
  p {
    color: #8A8A8A;
    width: 303px;
    height: 68px;
    margin-left: 180px;
  }
  .Bloco-email {
    width: 564px;
    height: 56px;
    margin-left: 50px;
    color: #8A8A8A;
    border: solid .2px #8A8A8A;
    border-radius: 6px;
  }
  .input-email{
    color: #8A8A8A;
    border-radius: 6px;
  }
  .input-senha{
    margin-top: 20px;
    color: #8A8A8A;
    border-radius: 6px;
  }
  .esconder{
    margin-right: -500px;
    margin-top: 15px;
    cursor: pointer;
  }
  .Bloco-senha {
    width: 564px;
    height: 56px;
    margin-top: 20px;
    margin-left: 50px;
    color: #8A8A8A;
    border: solid .2px #8A8A8A;
    border-radius: 6px;
  }
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #5192C4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .App-back {
    width: 666px;
    height: 692px;
    padding-top: 179px;
    border-radius: 13px;
    background-color: #FFFF;
  }
  .link {
    color: #5192C4;
  }
  